  
   <div class= "leftproduct">
   <h2>Am <b>2. 12. 2002</b> war der <b>1.Arbeitstag</b> von „Frau Holle“. 
   Der Bioladen in Grieskirchen wurde eröffnet.</h2>
    <h3><b>Heidi und Petra Peham </b>
    die beiden Seelen des Geschäftes!</h3>
    <p>Uns beiden Schwestern ist es wichtig zum ÖKO Gedanken 
    beizutragen. <br></br>

    Inspiriert wurden wir zum Namen „Frau Holle“ von 
    dem Gedanken, dass jeder seinen Beitrag im Leben zu 
    leisten hat. Der Rest sind Geschenke, und in diesem 
    Geiste erfreuen wir uns unseres Tuns!
    </p>
   <div class = "aboutimg">    
   	<img src="images/frauholle.jpg" />
   </div>
   
   <p><b>Alex</b> unsere „gelernte Köchin“, Ausbildung im Gasthof Klinger, wird ab September mit Helga unsere Küche übernehmen. Es gibt von Mo-Fr Mittagstisch. Kuchen u. Kaffe ganztags.
   </p>
   <div class = "aboutimg">    
    	<img src="images/kochin.jpg" />
    </div>
   <h2>Frau Holle - das Märchen </h2>
  <p>     Eine Witwe hatte zwei Töchter, davon war die eine schön und fleißig, die andere hässlich und faul. Sie hatte aber die hässliche und faule, weil sie ihre rechte Tochter war, viel lieber und die Andere musste alle Arbeit tun und Aschenputtel im Hause sein. Das Arme Mädchen musste sich täglich auf die große Straße an einen Brunnen setzen und so viel spinnen, dass ihr das Blut aus den Fingern sprang. Nun trug es sich zu, dass die Spule einmal ganz blutig war, da bückte es sich damit in den Brunnen und wollte sie abwaschen; sie sprang ihr aber aus der Hand und fiel hinab. Das Mädchen weinte, lief zur Stiefmutter und erzählte ihr das Unglück. Sie schalt es aber heftig und unbarmherzig sprach sie: „ Hast du die spule hinunterfallen lassen, so hol sie wieder herauf!“ Da ging das Mädchen zu dem Brunnen zurück und wusste nicht, was es anfangen sollte. Und in ihrer Herzensangst sprang es in den Brunnen, um die Spule zu holen. Es verlor die Besinnung, und als es erwachte und wieder zu sich kam, war es auf einer schönen Wiese, wo die sonne schien und tausend Blumen standen. Es ging weiter und kam zu einem Backofen, der war voller Brot; das Brot aber rief: „ Ach, zieh mich raus sonst verbrenne ich! Ich bin schon längst ausgebacken!“ Da trat es herzu und holte mit dem Brotschieber alles nacheinander heraus. Danach ging es weiter und kam zu einem Baum, der 
      hing voller Äpfel und dieser rief ihr zu: „ Ach schüttle mich, schüttle mich, wir Äpfel sind alle miteinander reif!“ Da schüttelte es den Baum , dass die Äpfel fielen, als regnete es, und schüttelte, bis keiner mehr oben war. Als es alle auf einen Haufen zusammengelegt hatte, ging es weiter. Endlich kam es zu einem kleinen Haus, daraus guckte eine alte Frau; weil sie aber so große Zähne hatte, ward ihr angst und es wollte fortlaufen. Die alte Frau aber rief ihr nach: „Was fürchtest du dich, liebes Kind? Bleib bei mir, wenn du alle Arbeit im Hause ordentlich tun willst, so soll´ s dir gut gehen! Du musst nur Acht geben, dass du mein Bett gut machst und es fleißig aufschüttelst, dass die Federn fliegen, dann schneit es in der Welt; ich bin Frau Holle.“ Weil die alte das Mädchen so gut ansprach, so fasste es sich ein Herz, willigte ein und begab sich in ihren Dienst. Es besorgte auch alles zu ihrer Zufriedenheit und schüttelte ihr das Bett immer gewaltig auf, dass die Federn wie Schneeflocken flogen. Dafür hatte es auch ein gutes Leben bei ihr, kein böses Wort und alle Tage Gesottenes und Gebratenes. Nun war es bereits eine Zeit lang bei der Frau Holle, da wurde es traurig und wusste anfangs selbst nicht was ihr fehlte; endlich merkte es, dass es Heimweh hatte. Obgleich es ihr hier 
      tausend mal besser ging als zu Haus, so hatte es doch Sehnsucht. Da sagte es zur Frau Holle: „Ich hab Heimweh gekriegt, und wenn es mir noch so gut hier unten geht, so kann ich doch nicht länger bleiben, ich muss wieder hinauf zu den meinigen.“ Frau Holle sagte: „ Es gefällt mir, dass du wieder nach Haus verlangst und weil du mir so treu gedient hast, so will ich dich selbst wieder hinaufbringen.“</p>
     </p>
   
<br></br>
<div class = "aboutimg">    
  	<img src="images/frauholle2.jpg" />
  </div>
<br></br>
<p>Sie nahm es darauf bei der Hand und führte es vor ein großes Tor. Das Tor wurde geöffnet, und wie das Mädchen gerade darunter stand, fiel eingewaltiger Goldregen und alles blieb an ihr hängen, sodass es über und über damit bedeckt war. „Das sollst du haben, weil du fleißig gewesen bist“, sprach die Frau Holle und gab ihr auch die spule wieder, die ihr in den Brunnen gefallen war. Darauf wurde das Tor verschlossen und das Mädchen befand sich oben auf der Welt nicht weit vom Haus ihrer Mutter entfernt. Und als es in den Hof kam, saß der Hahn auf dem Brunnen und rief: „ Kikeriki, unsere goldene Jungfrau ist wieder hier!“ Da ging es hinein zu ihrer Mutter, und weil es mit so viel Gold bedeckt war wurde es von ihr und der Schwester gut aufgenommen. Das Mädchen erzählte alles, was ihr begegnet war, und als die Mutter hörte, wie es zu dem großen Reichtum gekommen war, wollte sie der hässlichen und faulen Tochter gern das gleiche Glück verschaffen. Sie musste sich an den Brunnen setzen und spinnen; und damit ihre Spule blutig wurde, stach sie sich in die Finger und stieß mit der Hand in die Dornhecke. Dann warf sie die Spule in den Brunnen und sprang selbst hinein. Sie kam, wie die andere, auf die schöne Wiese und ging auf dem selben Pfade weiter. Als sie zu dem Backofen gelangte, schrie das Brot wieder: „ Ach, zieh mich raus sonst verbrenne ich!“ Die Faule aber antwortete: „ Da hätt´ ich Lust mich schmutzig zu machen!“, und ging fort. Bald kam sie zu dem Apfelbaum, der rief: „ Ach, schüttle mich, wir sind reif!“ Sie aber antwortete: „ Du kommst mir recht, es könnte mir einer auf den Kopf fallen!“, Und ging weiter. Als sie vor der Frau Holle Haus kam, fürchtete sie sich nicht, weil sie von ihren großen Zähnen schon gehört hatte, und verdingte sich bei ihr. Am ersten Tag tat sie sich zwang an, war fleißig und folgte der Frau Holle, wenn sie ihr etwas sagte dachte sie an das viele Gold, dass sie ihr schenken würde. Am zweiten Tag Fing sie an zu faulenzen, am dritten Tag noch mehr, da wollte sie nicht aufstehen. Sie machte auch der Frau Holle das Bett nicht, wie sich’s gebührte, und schüttelte es nicht dass die Federn flogen. Das war der Frau Holle gar nicht recht und sie sagte ihr den Dienst auf. Der Faulen war das sehr recht und meinte, nun würde der Goldregen kommen. Die Frau Holle führte sie auch zu dem Tor; als sie aber darunter stand, wurde statt des Goldes ein Kessel voll Pech ausgeschüttet. „ Das ist zur Belohnung deiner Dienste“; sagte die Frau Holle Und schloss das Tor zu. Da kam die Faule heim, aber sie war ganz mit Pech bedeckt und der Hahn, als er sie sah, rief: „ Kikeriki, unsere schmutzige Jungfrau ist wieder hier!“ Das Pech aber blieb fest an ihr hängen und wollte, solange sie lebte, nicht abgehen. 
<br></br>
<br></br>
<b>Brüder Grimm</b></p>

</div>


                 <div class="rightproduct">
     			
     				<div class="span-6 column rotated">
     				    <a id="image1" class="cms-editable polaroid" href="#pic-1" rel="lightbox" title="first image"> <img src="/images/gallery/2_s.jpg" alt="image" /> </a>
     				</div>
     				
     				<div class="span-6 column rotated">
     				    <a id="image2" class="cms-editable polaroid" href="#pic-2" rel="lightbox" title="second image"> <img src="/images/gallery/2_s.jpg" alt="image" /> </a>
     				</div>
     				
     				<div class="span-6 column rotated last">
     				    <a id="image3" class="cms-editable polaroid" href="#pic-3" rel="lightbox" title="third image"> <img src="/images/gallery/3_s.jpg" alt="image" /> </a>
     				</div>
     				
     				<div class="span-6 column rotated">
     				    <a id="image4" class="cms-editable polaroid" href="#pic-4" rel="lightbox" title="first image"> <img src="/images/gallery/4_s.jpg" alt="image" /> </a>
     				</div>
     				
     				<div class="span-6 column rotated">
     				    <a id="image5" class="cms-editable polaroid" href="#pic-5" rel="lightbox" title="first image"> <img src="/images/gallery/1_s.jpg" alt="image" /> </a>
     				</div>
     				
     				<div class="span-6 column rotated last">
     				    <a id="image6" class="cms-editable polaroid" href="#pic-6" rel="lightbox" title="first image"> <img src="/images/gallery/6_s.jpg" alt="image" /> </a>
     				</div>
     				
            	<div class="span-6 column rotated last">
       				    <a id="image3" class="cms-editable polaroid" href="#pic-3" rel="lightbox" title="third image"> <img src="/images/gallery/3_s.jpg" alt="image" /> </a>
       				</div>
       					<div class="span-6 column rotated last">
         				    <a id="image3" class="cms-editable polaroid" href="#pic-3" rel="lightbox" title="third image"> <img src="/images/gallery/3_s.jpg" alt="image" /> </a>
         				</div>
         					<div class="span-6 column rotated last">
           				    <a id="image3" class="cms-editable polaroid" href="#pic-3" rel="lightbox" title="third image"> <img src="/images/gallery/3_s.jpg" alt="image" /> </a>
           				</div>
           					<div class="span-6 column rotated last">
             				    <a id="image3" class="cms-editable polaroid" href="#pic-3" rel="lightbox" title="third image"> <img src="/images/gallery/3_s.jpg" alt="image" /> </a>
             				</div>
             				


     				<div id="pic-1">
     				    <img src="/images/gallery/1.jpg" alt="image" />
     				</div>
     				
     				<div id="pic-2">
     				    <img src="/images/gallery/2.jpg" alt="image" />
     				</div>
     				
     				<div id="pic-3">
     				    <img src="/images/gallery/3.jpg" alt="image" />
     				</div>
     				
     				<div id="pic-4">
     				    <img src="/images/gallery/4.jpg" alt="image" />
     				</div>
     				
     				<div id="pic-5">
     				    <img src="/images/gallery/5.jpg" alt="image" />
     				</div>
     				
     				<div id="pic-6">
     				    <img src="/images/gallery/6.jpg" alt="image" />
     				</div>
     				
                 </div>
                 <aside class="span-6 column last">
                     </div>
                    
</div>
