<header>
<a href="/"><img src="/images/logo2.png" />
  
  
  <nav class="round2">
    <ul>
      <li><%= link_to "Produkte", store_path %></li>
      <li><%= link_to "Aktuelles", aktuell_path %></li>
      <li><%= link_to "Wir über uns", about_path %></li>
      <li><%= link_to "Kontakt", '/contact' %></li>
    </ul>
  </nav>
  
  
  
 
  
  
</header>


